/*.App {
  background-color: rgb(187, 226, 110);
  display: inline;
}
.App {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #3d3e41;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

App-header {
  color: #f8f9fc;
}

.App-section {
  background-color:#2b6d7e;;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-section {
  text-align: inherit;
  display: inline;

  justify-content: center;
}
.App-link {
  color: rgb(120, 253, 198);
}

.todo-button {
  height: 22px;
  width: 22px;
  

}
*/